/client/node_modules
/client/build
/client/src/components/canvas/jsons/*.json
/client/src/jsons/*.json
/client/*.log
/client/*.lock

/lambda/node_modules
/lambda/build
/lambda/credentials
/lambda/source
