<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<title><% preact.title %></title>
		<meta name="viewport" content="width=device-width,initial-scale=1">
		<meta name="mobile-web-app-capable" content="yes">
		<meta name="apple-mobile-web-app-capable" content="yes">
		<script type="module">
			import * as Magick from "https://knicknic.github.io/wasm-imagemagick/magickApi.js";
			window.magick = Magick;
		</script>

		<style>
			#camera, #camera--view, #camera--sensor, #camera--output{
					object-fit: cover;
			}

			#camera--view, #camera--sensor, #camera--output{
					transform: scaleX(-1);
					filter: FlipH;
			}

		</style>
		<% preact.headEnd %>
	</head>
	<body>
		<% preact.bodyEnd %>
	</body>
</html>
